.container {
  width: 45rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid rgb(53, 52, 52);
  position: sticky;
  top: 0;
}

.NavContainer {
  width: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.NavContainer image {
  filter: grayscale(1);
}

@media (max-width: 576px) {
  .container {
    width: 22rem;
  }
}
@media (min-width: 577px) and (max-width: 728px) {
  .container {
    width: 40rem;
  }
}
